*.iml
.gradle
/local.properties
/eHealthSupermarket/.idea/caches
/eHealthSupermarket//.idea/libraries
/eHealthSupermarket//.idea/modules.xml
/eHealthSupermarket//.idea/workspace.xml
/eHealthSupermarket//.idea/navEditor.xml
/eHealthSupermarket//.idea/assetWizardSettings.xml
/eHealthSupermarket/.DS_Store
/eHealthSupermarket//build
/eHealthSupermarket//captures
/eHealthSupermarket/.externalNativeBuild
/eHealthSupermarket/.cxx
/eHealthSupermarket/local.properties
/AI_server/.DS_Store